# git 忽略文件

Code/ParkNShop/.idea/
Code/ParkNShop/target/

# jdbc文件
Code/ParkNShop/src/main/resources/*.properties

# maven 项目配置文件
Code/ParkNShop/pom.xml

# mybatis 配置文件
Code/ParkNShop/src/main/resources/mybatis-generator/generatorConfig.xml
Code/ParkNShop/src/main/resources/jdbc.properties
