<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ten.ParkNShop.mapper.ProductMapper">
	
	
	<insert id="addProduct" parameterType="Product" keyProperty="productId">
		insert into product(sellerId,productName,productType,productPrice,storeCount,soldCount,productIntroduction,productPicture)
		values( #{sellerId}, #{productName}, #{productType}, #{productPrice}, #{storeCount}, 0,#{productIntroduction}, #{productPicture} )
	</insert>
	
    <delete id="delete" parameterType="int">
		delete from product where productId = ${productId} 
	</delete>
	
	<update id="update" parameterType="Product">
		update product set productName = #{productName}, productType = #{productType}, productPrice = #{productPrice}, storeCount = #{storeCount}, productIntroduction = #{productIntroduction}, productPicture = #{productPicture}
		where productId = #{productId} 
	</update>
	
	<select id="count" resultType="int">
		SELECT
			count(1)
		FROM
			product
		WHERE sellerId = #{sellerId}
	</select>
	
	<select id="findAllBySellerId" parameterType="int" resultType="Product">
		SELECT 
			*
		FROM product
		WHERE sellerId = #{sellerId}
		ORDER BY productId
	</select> 

</mapper>