<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xmlns:tx="http://www.springframework.org/schema/tx"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
       <!--http://www.springframework.org/schema/beans/spring-beans.xsd-->
       <!--http://www.springframework.org/schema/context-->
       <!--http://www.springframework.org/schema/context/spring-context.xsd-->
       <!--http://www.springframework.org/schema/tx-->
       <!--http://www.springframework.org/schema/tx/spring-tx.xsd">-->
    <!--&lt;!&ndash; 扫描service包下所有使用注解的类型 &ndash;&gt;-->
    <!--<context:component-scan base-package="com.ten.ParkNShop.service"/>-->

    <!--&lt;!&ndash; 配置数据库相关参数properties的属性：${url} &ndash;&gt;-->
    <!--<context:property-placeholder location="classpath:jdbc.properties"/>-->

    <!--&lt;!&ndash; 数据库连接池 &ndash;&gt;-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
        <!--<property name="driverClass" value="${mysql.driver}"/>-->
        <!--<property name="jdbcUrl" value="${mysql.url}"/>-->
        <!--<property name="user" value="${mysql.username}"/>-->
        <!--<property name="password" value="${mysql.password}"/>-->
        <!--<property name="maxPoolSize" value="${c3p0.maxPoolSize}"/>-->
        <!--<property name="minPoolSize" value="${c3p0.minPoolSize}"/>-->
        <!--<property name="autoCommitOnClose" value="${c3p0.autoCommitOnClose}"/>-->
        <!--<property name="checkoutTimeout" value="${c3p0.checkoutTimeout}"/>-->
        <!--<property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 配置SqlSessionFactory对象 &ndash;&gt;-->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--&lt;!&ndash; 注入数据库连接池 &ndash;&gt;-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--&lt;!&ndash; 扫描model包 使用别名 &ndash;&gt;-->
        <!--<property name="typeAliasesPackage" value="com.chatRobot.model"/>-->
        <!--&lt;!&ndash; 扫描sql配置文件:mapper需要的xml文件 &ndash;&gt;-->
        <!--<property name="mapperLocations" value="classpath:com/ten/ParkNShop/mapper/*.xml"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 &ndash;&gt;-->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--&lt;!&ndash; 注入sqlSessionFactory &ndash;&gt;-->
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
        <!--&lt;!&ndash; 给出需要扫描Dao接口包 &ndash;&gt;-->
        <!--<property name="basePackage" value="com.tem.ParkNShop.dto"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 配置事务管理器 &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--&lt;!&ndash; 注入数据库连接池 &ndash;&gt;-->
        <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 配置基于注解的声明式事务 &ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

<!--</beans>-->